<h3>@ViewBag.Message</h3>

<address>
    Paradise Avenue <br />
    Mount Olympus, QA 1800-9999<br />
    <abbr title="Phone">P:</abbr>
    1.800.000.0000
</address>

<address>
    <strong>Email:</strong>   <a href="Support@hotmail.com">Support@example.com</a><br />
</address>