@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EGym</h1>
    <p class="lead">Unique gym where you pay a small fee using a QR Code every time you use a piece gym equipment instead of a gym membership fee. Pay for what you use!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign up today</h2>
        <p>
            Enjoy <strong>50% off</strong> coupon if you sign up now!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>